.App {
  margin-left: 30px;
}

.mainComment{
  background-color: aqua;
  padding: 10px;
  border-radius: 15px;
}
.subComment{
  background-color: bisque;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.delete{
  color: white;
  background-color: red;
  
}
.reply{
  color: white;
  background-color: green;
}
.addComment{
  color: white;
  background-color: rgb(28, 28, 167);
}